{{ template "templates/header.tpl" . }}
<div class="container-fluid title">
    <div class="container title-wrapper">
        <div class="row">
            <div class="col-xs-12">
                <span>A B S E N S I</span>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid form">
    <h2 id="date"></h2>
    <br>
    <button type="button" id="buttonpresent" class="btn btn-primary">PRESENT</button>
    <br>
    <button type="button" id="buttonabsent" class="btn btn-danger">ABSENT</button>
    <br>
</div>
{{ template "templates/footer.tpl" . }}