{{ template "templates/header.tpl" . }}
<div class="report-page">
    <h1 class="display-4 text-center text-white">ABSENSI</h1>
    <div class="form">
        <form method="POST" class="report-form">
            <label for="date">Tanggal</label>
            <input type="date" id="date" name="date">
            <hr />
            <button class="btn" class="report-button" name="report-button">OK</button>
        </form>
    </div>
    <table>
        <tr>
            <th> NIM </th>
            <th> Hadir/Tidak/Izin</th>
        </tr>
        {{range .}}
        <tr>
            <td>{{ .Nim }}</td>
            <td>{{ .Presence }}</td>
        </tr>
        {{end}}
    </table>

    <div>
        <a href="/" type="button" id="button-report" class="btn">ISI PRESENSI</a>
    </div>
</div>
{{ template "templates/footer.tpl" . }}